@import url(reset.css);
@import url(font.css);

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #2996F3;
    text-decoration: none;
    padding: 17px;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
}

.header {
    padding: 25px 0;
    font-weight: 500;
    border-bottom: 1px solid #ececec;
    position: relative;
    z-index: 2;
}

.header_container {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-right: 90px;
}

.header_nav,.header_info {
    display: flex;
    gap: 50px;
}

.header_nav a {
    text-decoration: none;
    color: #212121;
}

.list {
    display: flex;
	justify-content: center;
}

.list_relative {
    position: relative;
}

.list_menu_2 {
    color: #212121;
    padding: 5px;
    letter-spacing: 1.5px;
}

/*.list > li {
    position: relative;
}*/

.list_ad_num_1 {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px 0 0;
    display: none;
}

.list_ad_num_1 a {
    display: block;
    padding: 10px;
    background: gainsboro;
}

.list_ad_num_2 {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px 0 0;
    display: none;
}

/*.list > li > ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px 0 0;
    display: none;
}*/

.list_ad_num_2 a {
    display: block;
    padding: 15px;
    background: gainsboro;
    text-align: center;
}

.list_ad_num_3 {
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    z-index: 10;
}

.sub_menu {
    position: relative;
}

.list > li:hover > ul {
    display: block;
}

.sub_menu:hover > ul {

    display: block;
}

.header_info {
    margin-left: auto;
}

.header_info a {
    color: #757575;
    text-decoration: none;
}

.header_info a:hover, 
.header_nav a:hover, 
.list_menu_2 a:hover {
    color: #2996F3;
}

.header_nav a.active {
    color: #2996F3;
}

.hero {
    position: relative;
    min-height: 600px;
	background: #2F303A url('../images/backgroundfoto.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	color: #fff;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(47, 48, 58, 0.5);
}

.hero_box {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.hero_title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.about {
	padding: 94px 0;
}

.antena {
    padding-top: 150px;
    position: relative;
}

.clock {
    padding-top: 150px;
    position: relative;
}

.diagram {
    padding-top: 150px;
    position: relative;
}

.astronaut {
    padding-top: 150px;
    position: relative;
}

.clock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #F5F4FA url(../images/clock1.svg) no-repeat 50%/70px;
    border-radius: 4px;
}

.diagram::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #F5F4FA url(../images/diagram1.svg) no-repeat 50%/70px;
    border-radius: 4px;
}

.astronaut::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #F5F4FA url(../images/astronaut1.svg) no-repeat 50%/70px;
    border-radius: 4px;
}

.antena::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #F5F4FA url(../images/antenna1.svg) no-repeat 50%/70px;
    border-radius: 4px;
}

.about_cards {
	display: flex;
	gap: 30px;
    flex-wrap: wrap;
}

.about_card {
    flex: 1 1 22%;
}

.about_card h2 {
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.about_card p {
	color: #757575;
	line-height: 29px;
}

.antena h2 {
    margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.clock h2 {
    margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.diagram h2 {
    margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.astronaut h2 {
    margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.antena p {
    color: #757575;
	line-height: 29px;
}

.clock p {
    color: #757575;
	line-height: 29px;
}

.diagram p {
    color: #757575;
	line-height: 29px;
}

.astronaut p {
    color: #757575;
	line-height: 29px;
}

.do {
	padding-bottom: 94px;
}

.do_cards {
	display: flex;
	/*gap: 30px;*/
    flex-wrap: wrap;
    margin: 0 -15px;
}

.do_title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
    letter-spacing: 1px;
}

.do_card {
    flex: 0 1 33.33%;
    padding: 0 15px;
}

.do_card > div {
    height: 294px;
    overflow: hidden;
    position: relative;
}

.do_card:hover .do_card_desc {
    display: block;
}

.do_card_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    display: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
}

.do_card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team {
    padding: 94px 0;
    background: #F5F4FA;
}

.people {
    overflow: hidden;
    background: #fff;
    flex: 1 1 20%;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.people img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.team_name {
    padding: 24px;
}

.team_name h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
}

.team_name p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.link_team {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.icon {
    width: 44px;
    height: 44px;
    position: relative;
}

.icon a {
    display: block;
    width: 100%;
    height: 100%;
    /*background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: fill 0.3s ease;
}

.icon a svg {
    height: 20px;
    width: 20px;
}

.icon:hover a {
    background-color: #2996F3;
    fill: #fff;
}




/*.icon:nth-child(1) a {
    background-image: url(../images/instagram1.svg);
}

.icon:nth-child(2) a {
    background-image: url(../images/twitter1.svg);
}

.icon:nth-child(3) a {
    background-image: url(../images/facebook1.svg);
}

.icon:nth-child(4) a {
    background-image: url(../images/linkedin1.svg);
}





/*.icon:hover a {
    border-radius: 50%;
    background-color: #2196f3;
}

.link_team .icon:nth-child(1) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/instagram1.svg) no-repeat 50%/22px;
} 

.link_team .icon:nth-child(2) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/twitter1.svg) no-repeat 50%/22px;
}

.link_team .icon:nth-child(3) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/facebook1.svg) no-repeat 50%/22px;
} 

.link_team .icon:nth-child(4) a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/linkedin1.svg) no-repeat 50%/22px;
}

/*.icon:hover::before {
    content: "";
    position: absolute;
    z-index: ;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #2196f3;
}*/

.customers {
    padding: 94px 0;
}

.h_customers {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.customers_cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.customers_cards li {
    flex: 1 1 13%;
    height: 92px;
    border: #AFB1B8 solid 1px;
    transition: border-color 0.3s ease;
}

.customers_cards li:hover {
    border-color: #2996F3;
}

.customers_cards li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers_cards svg {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 0.3s ease;
}

.customers_cards li:hover a svg {
    fill: #2996F3;
}

.footer {
	background: #2F303A;
	color: #fff;
    max-height: 252px;
    padding: 60px 0;
    letter-spacing: 1px;
    display: flex;
}

.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    flex-direction: column;
    margin: 10px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_logo {
    padding-bottom: 10px;
}

.adress a {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.adress li:nth-child(3) a {
    color: #757575;
}

.adress li:nth-child(3):hover a {
    color: #2996F3;
}

.adress li:nth-child(4):hover a {
    color: #2996F3;
}

.adress li:nth-child(4) a {
    color: #757575;
}

.adress a:hover {
    color: #2996F3;
}

.footer_icon_section {
    margin: 20px 0 0;
}

.title_icon {
    text-transform: uppercase;
    font-weight: 700;
}

.footer_icon_section .title_icon {
    margin-bottom: 10px;
    color: #fff;
}

.footers_icons {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.footer_icon {
    width: 44px;
    height: 44px;
    position: relative;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: fill 0.3s ease;
}

.footer_icon a {
    display: block;
    width: 100%;
    height: 100%;
    /*background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;*/
    border-radius: 50%;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icon a svg {
    height: 20px;
    width: 20px;
}

.footer_icon:hover a {
    background-color: #2996F3;
}

/*.footer_icon:nth-child(1) a {
    background-image: url(../images/instagram1.svg);
}

.footer_icon:nth-child(2) a {
    background-image: url(../images/twitter1.svg);
}

.footer_icon:nth-child(3) a {
    background-image: url(../images/facebook1.svg);
}

.footer_icon:nth-child(4) a {
    background-image: url(../images/linkedin1.svg);
}*/

.footer_container {
    display: flex;
    gap: 70px;
}

.button {
    display: flex;
    gap: 8px;
    margin-top: 98px;
    justify-content: center;
}

.btn_2 {
    color: #212121;
    background: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    display: block;
}

.btn_2:hover {
    background: #2996F3;
    color: #F5F4FA;
}

.btn_2.active {
    background: #2996F3;
    color: #F5F4FA;
}

.cards_portfolio {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 95px;
}

.cards_portfolio div {
    flex: 1 1 30%;
    border: solid 1px;
    flex-wrap: wrap;
}

.cards_portfolio div>div {
    border: none;
}

.cards_portfolio_img {
    width: 100%;
    height: 294px;
    object-fit: cover;
    position: relative;
}

.relative {
    position: relative;
    flex-wrap: wrap;
}

.cards_portfolio img {
    width: 100%;
    height: 294px;
    object-fit: cover;
}

.relative:hover .shadow {
    display: flex;
    height: 294px;
}

.shadow {
    background: rgb(41, 150, 243, 0.8);
    color: aliceblue;
    position: absolute;
    inset: 0;
    display: flex;
    display: none;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding: 24px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
}

.text_portfolio h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.text_portfolio p {
    font-size: 16px;
    color: #757575;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.text_portfolio {
    border: none;
    padding: 24px;
}

.burger {
    width: 34px;
    height: 20px;
    position: absolute;
    top: 24px;
    left: 15px;
    cursor: pointer;
}

.burger::before,
.burger::after,
.burger span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: grey;
    z-index: 1;
}

.burger::after {
    top: auto;
    bottom: 0;
}

.burger span {
    top: 50%;
    margin-top: -2px;
}

.burger_last {
    width: 34px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 15px;
    cursor: pointer;
    display: none;
}

.burger_last::before,
.burger_last::after,
.burger_last span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: grey;
    z-index: 1;
}

.burger_last::after {
    top: auto;
    bottom: 0;
}

.burger_last span {
    top: 50%;
    margin-top: -2px;
}

.aside {
    background: lightgray;
    position: fixed;
    width: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.burger:hover + .aside {
    display: block;
}

.aside:hover {
    display: block;
}

.icon_hidden {
    position: absolute;
    z-index: -10;
    width: 0;
    height: 0;
    opacity: 0;
}


/*1300px*/

@media screen and (max-width: 1300px) {

    .header_logo {
        margin-left: 60px;
    }

    .customers_cards li {
        flex: 1 1 14%;
    }
}

/*1000px*/

@media screen and (max-width: 1000px) {
    
    .header_logo {
        margin-right: 30px;
    }

    .header_nav, 
    .header_info {
        gap: 20px;
    }

    .about_card {
        flex: 1 1 47%;
    }

    .do_cards {
        row-gap: 30px;
    }

    .do_card {
        flex-basis: 50%;
    }

    .people {
        flex: 1 1 47%;
    }

    .customers_cards li {
        flex: 1 1 10%;
    }

    .button {
        margin-top: 60px;
    }

    .cards_portfolio {
        gap: 15px;
    }
}

/*768px*/

@media screen and (max-width: 768px) {
    
    .do_card {
        flex-basis: 100%;
    }

    .do_card > div {
        height: 350px;
    }

    .customers_cards li {
        flex: 1 1 29%;
    }

    .button {
        flex-wrap: wrap;
        flex: start;
    }

    .btn_2 {
        flex: 0 1 30%;
        min-width: 121px;
    }

    .cards_portfolio div {
        flex: 1 1 45%;
    }

    .cards_portfolio div:nth-child(9) {
        flex: 0 1 49%;
    }
}

/*640*/

@media screen and (max-width: 640px) {

    .header_logo {
        margin: 0;
    }

    .burger {
        display: none;
    }

    .burger_last {
        display: block;
    }
    
    .header_nav, 
    .header_info {
        display: none;
    }

    .hero {
        min-height: 400px;
    }

    .hero_title {
        font-size: 26px;
        line-height: 42px;
    }

    .about_card {
        flex: 1 1 100%;
    }

    .do {
        display: none;
    }

    .people {
        flex: 1 1 100%;
        width: 450px;
    }

    .people img {
        height: 460px;
    }

    .customers {
        display: none;
    }

    .footer {
        max-height: 610px;
    }

    .footer_container {
        flex-wrap: wrap;
    }

    .adress {
        flex: 1 1 100%;
        align-items: center;
    }

    .footer_icon_section {
        margin: 0 auto;
    }

    .cards_portfolio div {
        flex: 1 1 90%;
    }

    .cards_portfolio div:nth-child(9) {
        flex: 1 1 90%;
    }
}