@import url(reset.css);
@import url(font.css);

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #2996F3;
    text-decoration: none;
    padding: 17px;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
}

.header {
    padding: 25px 0;
    font-weight: 500;
    border-bottom: 1px solid #ececec;
}

.header_container {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-right: 90px;
}

.header_nav,.header_info {
    display: flex;
    gap: 50px;
}

.header_nav a {
    text-decoration: none;
    color: #212121;
}

.header_info {
    margin-left: auto;
}

.header_info a {
    color: #757575;
    text-decoration: none;
}

.header_info a:hover, .header_nav a:hover {
    color: #2996F3;
}

.header_nav a.active {
    color: #2996F3;
}

.hero {
    min-height: 600px;
	background: #2F303A;
	color: #fff;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.hero_box {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.hero_title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.about {
	padding: 94px 0;
}

.about_cards {
	display: flex;
	gap: 30px;
}

.about_card h2 {
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.about_card p {
	color: #757575;
	line-height: 29px;
}

.do {
	padding-bottom: 94px;
}

.do_cards {
	display: flex;
	gap: 30px;
}

.do_title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
    letter-spacing: 1px;
}

.do_card {
	height: 294px;
	overflow: hidden;
    position: relative;
}

.do_card:hover .do_card_desc {
    display: block;
}

.do_card_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    display: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
}

.do_card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team {
    padding: 94px 0;
    background: #F5F4FA;
}

.people {
    overflow: hidden;
    background: #fff;
    flex: 1 1 25%;
}

.people img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.team_name {
    padding: 24px;
}

.team_name h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
}

.team_name p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.footer {
	background: #2F303A;
	color: #fff;
    max-height: 252px;
    padding: 60px 0;
    letter-spacing: 1px;
}

.footer a{
    display: inline-block;
}

.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    flex-direction: column;
    margin: 10px 0 0;
    display: flex;
    align-items: flex-start;
}

.adress a {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.adress a+a {
    color: #757575;
}

.adress a:hover {
    color: #2996F3;
}

.button {
    display: flex;
    gap: 8px;
    margin-top: 98px;
    justify-content: center;
}

.btn_2 {
    color: #212121;
    background: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 6px 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    display: block;
}

.btn_2:hover {
    background: #2996F3;
    color: #F5F4FA;
}

.btn_2.active {
    background: #2996F3;
    color: #F5F4FA;
}

.cards_portfolio {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 95px;
}

.cards_portfolio div {
    flex: 1 1 30%;
    border: solid 1px;
}

.cards_portfolio div>div {
    border: none;
}

.cards_portfolio_img {
    width: 100%;
    height: 294px;
    object-fit: cover;
    position: relative;
}

.relative {
    position: relative;
}

.cards_portfolio img {
    width: 100%;
    height: 294px;
    object-fit: cover;
}

.relative:hover .shadow {
    display: block;
}

.shadow {
    background: rgb(41, 150, 243, 0.8);
    color: aliceblue;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 70%;
    display: flex;
    display: none;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding: 63px 24px;
}

.text_portfolio h3 {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
    line-height: 36px;
}

.text_portfolio p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.text_portfolio {
    border: none;
    padding: 24px;
}

